.header-content{

    font-family: 'Lobster', cursive;
    height: 800px;
    background-color: rgb(59, 61, 62, 0.9);
    position: relative;
    overflow: hidden;
    padding-left: 10%;
}

.home-text h4{

    font-size: 30px;
    font-weight: 550;
    padding-bottom: 10px;
    color: #a53535;
    text-shadow: 2px 2px #373333;
    letter-spacing: 3px;
}

.home-text h1{

    font-size: 50px;
    font-weight: 650;
    padding-bottom: 10px;
    color: #6e3636;
    text-shadow: 2px 2px #3a2626;
    letter-spacing: 3px;
}

.home-text p{

    font-size: 25px;
    font-weight: 450;
    padding-bottom: 10px;
    color: #14023a;
    text-shadow: 2px 2px #3a3333;
    line-height: 20px;
    letter-spacing: 3px;
}



.col-lg-5 {
    
    color: #7f7575;
}

.header-social {

    position: absolute;
    bottom: 90px;
    left: 10%;
    width: 100%;
}

.header-social .header-social-icon {

    position: relative;
}


.header-social .header-social-icon::before{

    position: absolute;
    
}

.header-social .header-social-icon ul li {

    display: inline-block;
    margin-left: 70px;
}

.header-social .header-social-icon ul li a{

    align-items: center;
    text-align: center;
    padding-left: 5px;
    color: #070416;
    font-family: 25px;
    width: 120px;
    display: inline-block;
    line-height: 30px;
    border-radius: 50%;
    border: 1px solid rgb(139, 127, 127);
    text-align: center;
    box-shadow: 2px 2px #2f2b2b;
    transition: all 0.4s ease-out 0.1s;
}

.header-social .header-social-icon ul li a:hover {

    color: #fff;
    background-color: #3e2a2a;
    border-color: #a53535;
}

#parallax {

    position: absolute;
    height: 100%;
    width: 100%;
}



.header-shape {

    position: absolute;
}

.header-shape.shape-one {

    top: 23.5%;
    left: 10%;
    width: 80px;
    height: 80px;
    opacity: 80%;
}

.header-shape.shape-two {

    top: 65.8%;
    left: 20%;
    width: 80px;
    opacity: 30%;
    height: 80px;
}

.header-shape.shape-three {

    top: 40%;
    left: -70px;
    width: 80px;
    height: 50px;
    opacity: 55%;
}
.shape-fore {

    top: 65%;
    right: 15%;
    height: 80px;
    width: 80px;
    opacity: 55%;
}

.header-shape.shape-five {

    top: 55%;
    right: 35%;
    height: 80px;
    width: 80px;
    opacity: 75%;
}

.header-shape.shape-six {

    top: 25%;
    right: 50%;
    height: 80px;
    width: 80px;
    opacity: 90%;
}

.header-shape.shape-seven {

    top: 65%;
    left: 40%;
    height: 80px;
    width: 80px;
    opacity: 35%;
}

.header-shape:hover{

    height: 100px;
    width: 100px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1000px){

    .home-text h4{

        font-size: 25px;
        font-weight: 450;
        padding-bottom: 5px;
        letter-spacing: 2px;
    }
    
    .home-text h1{
    
        font-size: 40px;
        font-weight: 550;
        padding-bottom: 5px;
        letter-spacing: 2px;
    }
    
    .home-text p{
    
        font-size: 20px;
        font-weight: 350;
        padding-bottom: 5px;
        line-height: 20px;
        letter-spacing: 2px;
    }
    
    .col-lg-5 {
    
        font-size: 10px;
    }
    .header-shape.shape-one {

        top: 16.5%;
        left: 10%;
        width: 80px;
        height: 80px;
        opacity: 80%;
    }
    
    .header-shape.shape-two {
    
        top: 75%;
        left: 1%;
        width: 80px;
        opacity: 30%;
        height: 80px;
    }
    
    .header-shape.shape-three {
    
        top: 40%;
        right: 80px;
        width: 80px;
        height: 50px;
        opacity: 55%;
    }
    .shape-fore {
    
        top: 65%;
        right: 15%;
        height: 80px;
        width: 80px;
        opacity: 25%;
    }
    
    .header-shape.shape-five {
    
        top: 50%;
        right: 35%;
        height: 80px;
        width: 80px;
        opacity: 35%;
    }
    
    .header-shape.shape-six {
    
        top: 25%;
        right: 30%;
        height: 80px;
        width: 80px;
        opacity: 40%;
    }
    
    .header-shape.shape-seven {
    
        top: 65%;
        left: 36%;
        height: 80px;
        width: 80px;
        opacity: 30%;
    }

    .header-social-icon h6{

       display: none;
    }

    .header-social{

        display: flex;
        justify-content: space-between;
        top: 88%;
        left: -5%;
        
    }

    .header-social .header-social-icon ul li {

        display: flex;
        margin-bottom: 5px;
        display: inline-block;
        justify-content: space-between;
        
    }

    .header-social .header-social-icon ul li a{

        align-items: center;
        text-align: center;
        padding-left: 5px;
        width: 50px;
        display: inline-block;
        line-height: 30px;
        border-radius: 50%;
        border: 1px solid rgb(110, 100, 100);
        text-align: center;
        box-shadow: 2px 2px #7f7575;
        transition: all 0.4s ease-out 0.1s;
    }
    .header-shape:hover{

        height: 100px;
        width: 100px;
        transition: all 0.3s ease;
    }
    
}

@media screen and (max-width: 1000px){

    .header-social .header-social-icon ul li a{

        width: 40px;
        
    }

}
