.header-area {

    font-family: 'Kaushan Script', cursive;
    font-weight: normal;
    font-size: 20px;
    overflow-x: hidden;
}

* {

    margin: 0;
    padding: 0;
    outline: none;
}

img {

    max-width: 100%;
    vertical-align: middle;
}

ul {

    list-style: none;
    margin: 0;
    padding: 0;
}

a, a:hover {

    text-decoration: none;
}

.navbar {

    background-color: rgb(59, 61, 62);
    padding: 30px 0;
    box-shadow: 0 15px 15px rgb(59, 61, 62, 0.6);
}

.navbar > .container {

    padding: 0 15px;
}

.navbar .navbar-brand {

    font-size: 28px;
    color: #6b0e0e;
    font-weight: 475;
    text-transform: capitalize;
    text-shadow: 1px 1px #c1a6a6;
}

.navbar .nav-item {

    margin-left: 55px;
}

.navbar .nav-item .nav-link {

    color: #8c8383;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 400;
    padding: 8px 0;
    position: relative;
}

.navbar .nav-item .nav-link::after {

    content: "";
    position: absolute;
    background-color: #93355e;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0;
    transition: all 0.2s linear;
}

.navbar .nav-item .nav-link:hover{

    color: #93355e;
    font-size: larger;
}

.navbar .nav-item .nav-link:hover::after {

    width: 100%;
}

.navbar ul button {
    background: transparent;
    border: none;
    display: none;
}

.navbar ul button .bar {
    display: block;
    width: 50px;
    height: 3px;
    margin: 5px auto;
    --webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}





@media screen and (max-width: 1000px){

    .navbar .navbar-nav a{

        display: none;
    }

    .navbar .navbar-brand {

        font-size: 23px;
        color: #6b0e0e;
        font-weight: 375;
    }

    .navbar ul button {

        display: block;
    }

    .navbar ul button.active .bar:nth-child(2){

        opacity: 0;
    }

    .navbar ul button.active .bar:nth-child(1){

        transform: translateY(8px) rotate(45deg);
    }
     
    .navbar ul button.active .bar:nth-child(3){

        transform: translateY(-8px) rotate(-45deg);
    }

    

}

@media screen and (min-width: 1200px){


    .navbar .navbar-brand {

        font-size: 35px;
        color: #6b0e0e;
        font-weight: 450;
    }

    .navbar .nav-item .nav-link {

        font-size: 30px;
        font-weight: 400;
    }
}