body {

    font-family: 'Kaushan Script', cursive;
    font-weight: normal;
    font-size: 20px;
    overflow-x: hidden;
    background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}